# 201710860 김준호

## 문제 1: 열린데이터 수집

서울시 열린데이터에서 검색을 하면 '서울시 우리마을가게 상권분석서비스(상권-아파트)'가 있다.

(https://data.seoul.go.kr/dataList/OA-15566/S/1/datasetView.do?tab=A)

OpenAPI를 통해서 2021년 최근 100개 데이터를 JSON 형식으로 수집하자.

1) 프로그램으로 url을 만들어 출력. 그 url을 클릭하면 데이터가 출력 되어야 한다.

In [5]:
_key = "4f796755417a7a31333841586f716d"
_type = "json"
_service = "InfoTrdarAptQq"
_start_index = str(1)
_end_index = str(100)
_stdr_yy_dd = str(2021)
_endPoint = "http://openapi.seoul.go.kr:8088/"

params = "/".join([_key, _type, _service, _start_index, _end_index, _stdr_yy_dd])
url = _endPoint + params

print(url)

http://openapi.seoul.go.kr:8088/4f796755417a7a31333841586f716d/json/InfoTrdarAptQq/1/100/2021

2) 전체 데이터 중 1건만 출력.

In [12]:
import json
import requests

jsonData = requests.get(url).json()

print(jsonData["InfoTrdarAptQq"]["row"][0])

{'STDR_YY_CD': '2021', 'TRDAR_SE_CD': 'A', 'TRDAR_SE_CD_NM': '골목상권', 'APT_HSMP_CO': 5.0, 'AE_66_SQMT_BELO_HSHLD_CO': 32.0, 'AE_66_SQMT_HSHLD_CO': 0.0, 'AE_99_SQMT_HSHLD_CO': 0.0, 'AE_132_SQMT_HSHLD_CO': 0.0, 'AE_165_SQMT_HSHLD_CO': 0.0, 'PC_1_HDMIL_BELO_HSHLD_CO': 0.0, 'PC_1_HDMIL_HSHLD_CO': 32.0, 'PC_2_HDMIL_HSHLD_CO': 0.0, 'PC_3_HDMIL_HSHLD_CO': 0.0, 'PC_4_HDMIL_HSHLD_CO': 0.0, 'PC_5_HDMIL_HSHLD_CO': 0.0, 'PC_6_HDMIL_ABOVE_HSHLD_CO': 0.0, 'AVRG_AE': 44.0, 'AVRG_MKTC': 150247619.0, 'STDR_QU_CD': '1', 'TRDAR_CD': '1000975', 'TRDAR_CD_NM': '동남로82길'}

3) 다음 항목을 100개 정렬해서 출력.

	TRDAR_SE_CD_NM	상권_구분_코드_명

	APT_HSMP_CO	아파트_단지_수

	PC_6_HDMIL_ABOVE_HSHLD_CO	아파트_가격_6_억_이상_세대_수

	AVRG_MKTC	아파트_평균_시가

	TRDAR_CD_NM	상권_코드_명

정렬한 출력예시:

```

골목상권	5.0	0.0	150247619.0	동남로82길

발달상권	3.0	0.0	161157476.0	당산역_2

발달상권	1.0	0.0	81750000.0	서울 성북구 안암역

```

In [16]:
cols = [
    "TRDAR_SE_CD_NM", 
    "APT_HSMP_CO",
    "PC_6_HDMIL_ABOVE_HSHLD_CO",
    "AVRG_MKTC",
    "TRDAR_CD_NM"
]

for elem in jsonData["InfoTrdarAptQq"]["row"]:
    print(f"{elem[cols[0]]}\t{elem[cols[1]]}\t{elem[cols[2]]}\t{elem[cols[3]]}\t{elem[cols[4]]}")

골목상권	5.0	0.0	150247619.0	동남로82길
발달상권	3.0	0.0	161157476.0	당산역_2
발달상권	1.0	0.0	81750000.0	서울 성북구 안암역
전통시장	37.0	1.0	183067389.0	길동복조리시장
관광특구	71.0	87.0	409473123.0	이태원 관광특구
관광특구	8.0	271.0	237967427.0	동대문패션타운 관광특구
관광특구	5.0	0.0	112097903.0	종로·청계 관광특구
관광특구	22.0	1156.0	527347107.0	잠실 관광특구
골목상권	26.0	22.0	249322039.0	계동길
골목상권	5.0	0.0	87700490.0	난계로27길
골목상권	5.0	0.0	161118305.0	돈화문로11가길
골목상권	41.0	0.0	105457249.0	명륜길
골목상권	41.0	0.0	214023214.0	백석동길
골목상권	3.0	0.0	213246032.0	북촌로11길
골목상권	2.0	2.0	443000000.0	북촌로5길
골목상권	5.0	6.0	430007143.0	북촌로5나길
골목상권	1.0	2.0	572000000.0	삼청로5길
골목상권	12.0	0.0	152368531.0	성균관로5길
골목상권	19.0	0.0	141952840.0	숭인동길
골목상권	100.0	0.0	177741821.0	옥인길
골목상권	1.0	0.0	112279412.0	율곡로16길
골목상권	20.0	0.0	153940955.0	이화장길
골목상권	9.0	0.0	256264683.0	자하문로7길
골목상권	3.0	0.0	81284178.0	종로58가길
골목상권	87.0	0.0	124591950.0	종로65길
골목상권	15.0	0.0	185365873.0	지봉로8길
골목상권	8.0	0.0	142664918.0	창경궁로35길
골목상권	17.0	0.0	107096078.0	창신2길
골목상권	8.0	0.0	95141667.0	창신5길
골목상권	86.0	0.0	116533576.0	창신길
골목상권	50.0	0.0	99746000.0	통일로12길
골목상권	19.0	30.0	309926113.0	평창길
골목상권	14.0	0.0	229306432.0	필운대로1길
골목상권	16.0	33.0	272737678.0	난계로11길
골목상권	9.0	0.0	157574074.0	난계로21길
골목상권	32.0	0.0	153392079.0	다산로33길
골목상권	8.0	0.0	179132297.0	다산로36길
골목상권	10.0	1.0	242063093.0	다산로38길
골목상권	2.0	0.0	176972222.0	다산로39길
골목상권	27.0	0.0	181864758.0	동호로10길
골목상권	150.0	0.0	124396733.0	동호로11길
골목상권	41.0	12.0	208647667.0	동호로15길
골목상권	42.0	43.0	307355149.0	동호로20길
골목상권	18.0	0.0	155018621.0	동호로8길
골목상권	28.0	1.0	184979178.0	장충단로8길
골목상권	33.0	0.0	206531628.0	청구로17길
골목상권	9.0	0.0	189915947.0	청구로1길
골목상권	7.0	0.0	167530465.0	퇴계로12길
골목상권	3.0	0.0	168158730.0	퇴계로18길
골목상권	7.0	0.0	119134454.0	퇴계로46길
골목상권	6.0	0.0	130876389.0	퇴계로56길
골목상권	13.0	0.0	213297572.0	퇴계로8길
골목상권	27.0	0.0	170019584.0	퇴계로90길
골목상권	4.0	0.0	250343750.0	녹사평대로11길
골목상권	10.0	0.0	380352237.0	녹사평대로26길
골목상권	8.0	5.0	382973462.0	녹사평대로32길
골목상권	9.0	13.0	463599167.0	녹사평대로40나길
골목상권	22.0	5.0	291820883.0	녹사평대로46길
골목상권	35.0	84.0	559442404.0	대사관로34길
골목상권	38.0	0.0	294402723.0	두텁바위로1길
골목상권	104.0	16.0	242145926.0	백범로79길
골목상권	11.0	709.0	496683400.0	백범로90길
골목상권	72.0	244.0	662098926.0	서빙고로71길
골목상권	44.0	1.0	200752888.0	소월로20길
골목상권	114.0	4.0	171466325.0	신흥로20길
골목상권	49.0	129.0	614161825.0	우사단로10길
골목상권	15.0	127.0	654105268.0	우사단로14길
골목상권	22.0	12.0	489858622.0	우사단로4길
골목상권	23.0	5.0	269352177.0	원효로19길
골목상권	16.0	0.0	281720858.0	원효로41길
골목상권	40.0	0.0	228417439.0	원효로53길
골목상권	10.0	0.0	215459650.0	원효로89길
골목상권	49.0	10.0	387698359.0	이촌로22길
골목상권	11.0	19.0	483746950.0	이태원로27길
골목상권	30.0	109.0	480723433.0	이태원로54길
골목상권	33.0	106.0	573284176.0	장문로45길
골목상권	14.0	0.0	166160048.0	청파로47길
골목상권	89.0	4.0	220994083.0	청파로47나길
골목상권	122.0	0.0	215433642.0	청파로71길
골목상권	58.0	0.0	219067232.0	청파로73길
골목상권	25.0	240.0	341969048.0	한강대로104길
골목상권	8.0	151.0	457474986.0	한강대로15길
골목상권	3.0	431.0	989166024.0	한강대로43길
골목상권	14.0	1.0	286364302.0	한강대로52길
골목상권	9.0	1.0	364824342.0	한강대로62길
골목상권	6.0	12.0	419996429.0	한강대로7길
골목상권	7.0	58.0	352673085.0	한남대로20길
골목상권	22.0	40.0	349667714.0	회나무로13길
골목상권	90.0	0.0	231388058.0	효창원로39길
골목상권	127.0	21.0	277169594.0	후암로28길
골목상권	61.0	0.0	201004295.0	고산자로6길
골목상권	39.0	0.0	182191459.0	금호산2길
골목상권	69.0	0.0	200790347.0	금호산길
골목상권	23.0	9.0	451650381.0	둘레9길
골목상권	15.0	144.0	318029114.0	뚝섬로5길
골목상권	10.0	0.0	140662018.0	마장로27길
골목상권	7.0	0.0	261575022.0	마장로39길
골목상권	20.0	0.0	228218098.0	마조로16길
골목상권	26.0	0.0	149740447.0	마조로1길
골목상권	9.0	1530.0	599287898.0	매봉길

## 문제 2: RDD를 사용해서 단어빈도 계산

다음은 일부 수정된 노래가사이다.

In [17]:
yesterday=[
    ["Yesterday 어제는"],
    ["All my troubles seemed to far away 내 모든 문제들이 참 멀리 있는 것 같았는데"],
    ["Now it looks as though they're here to stay 이제는 그 모든 문제들이 여기에 있는 것처럼 보여"],
    ["Oh, I believe in yesterday 오, 어제가 좋았는데"],
    ["Suddenly 갑자기 그-림-자-가 2021 그-림-자-가 2021"],
    ["I'm not half the man I used to be 난 예전 내 모습의 반도 못한 사람이 되어버렸어"],
    ["There's a shadow hanging over me 내 위에 그림자가 드리워져 있네"],
    ["Oh!, yesterday came suddenly 오!, 이제는 너무 갑자기 와버렸어.."],
]

1) 단어빈도를 계산해서 출력

출력 예시: [('Yesterday', 1),('어제는', 1),('All', 1),('my', 1),...]

In [19]:
import pyspark

spark = pyspark.sql.SparkSession\
    .builder\
    .master("local")\
    .appName("midterm")\
    .config(conf=pyspark.SparkConf())\
    .getOrCreate()

21/10/23 19:19:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [41]:
wcRdd = spark.sparkContext.parallelize(yesterday)
_wcRdd = wcRdd\
    .flatMap(lambda x: x[0].split())\
    .map(lambda x: (x, 1))\
    .reduceByKey(lambda x, y: x + y)

print(_wcRdd.collect())

[('Yesterday', 1), ('어제는', 1), ('All', 1), ('my', 1), ('troubles', 1), ('seemed', 1), ('to', 3), ('far', 1), ('away', 1), ('내', 3), ('모든', 2), ('문제들이', 2), ('참', 1), ('멀리', 1), ('있는', 2), ('것', 1), ('같았는데', 1), ('Now', 1), ('it', 1), ('looks', 1), ('as', 1), ('though', 1), ("they're", 1), ('here', 1), ('stay', 1), ('이제는', 2), ('그', 1), ('여기에', 1), ('것처럼', 1), ('보여', 1), ('Oh,', 1), ('I', 2), ('believe', 1), ('in', 1), ('yesterday', 2), ('오,', 1), ('어제가', 1), ('좋았는데', 1), ('Suddenly', 1), ('갑자기', 2), ('그-림-자-가', 2), ('2021', 2), ("I'm", 1), ('not', 1), ('half', 1), ('the', 1), ('man', 1), ('used', 1), ('be', 1), ('난', 1), ('예전', 1), ('모습의', 1), ('반도', 1), ('못한', 1), ('사람이', 1), ('되어버렸어', 1), ("There's", 1), ('a', 1), ('shadow', 1), ('hanging', 1), ('over', 1), ('me', 1), ('위에', 1), ('그림자가', 1), ('드리워져', 1), ('있네', 1), ('Oh!,', 1), ('came', 1), ('suddenly', 1), ('오!,', 1), ('너무', 1), ('와버렸어..', 1)]

2) 빈도순으로 출력, 빈도 1이하는 제외.

In [43]:
__wcRdd = wcRdd\
    .flatMap(lambda x: x[0].split())\
    .map(lambda x: (x, 1))\
    .reduceByKey(lambda x, y: x + y)\
    .filter(lambda x: x[1] > 1)\
    .map(lambda x: (x[1], x[0]))\
    .sortByKey(False)\
    .map(lambda x: (x[1], x[0]))

print(__wcRdd.collect())

[('to', 3), ('내', 3), ('모든', 2), ('문제들이', 2), ('있는', 2), ('이제는', 2), ('I', 2), ('yesterday', 2), ('갑자기', 2), ('그-림-자-가', 2), ('2021', 2)]

3) 소문자, 하이픈, 느낌표, 숫자를 제외하고 단어빈도 계산해서 출력 (빈도 1이하는 제외)

* 소문자: 'Yesterday', 'yesterday'를 동일한 단어로 계산

* 하이픈: '그림자가', '그-림-자-가'를 동일한 단어로 계산

* 느낌표: 'oh', 'oh!'를 동일한 단어로 계산

* 숫자: '2021'는 제외하고 계산

In [50]:
import re

regex1 = re.compile(r"[-!,]")
___wcRdd = wcRdd\
    .flatMap(lambda x: x[0].split())\
    .map(lambda x: regex1.sub("", x))\
    .map(lambda x: x.lower())\
    .filter(lambda x: not str(x).isdecimal())\
    .map(lambda x: (x, 1))\
    .reduceByKey(lambda x, y: x + y)\
    .filter(lambda x: x[1] > 1)\
    .map(lambda x: (x[1], x[0]))\
    .sortByKey(False)\
    .map(lambda x: (x[1], x[0]))

print(___wcRdd.collect())

[('yesterday', 3), ('to', 3), ('내', 3), ('그림자가', 3), ('모든', 2), ('문제들이', 2), ('있는', 2), ('이제는', 2), ('oh', 2), ('i', 2), ('오', 2), ('suddenly', 2), ('갑자기', 2)]

4) 1글자 단어 (예를 들어 'i', '내') 제외하고 단어빈도 계산 (빈도 1이하는 제외)

In [51]:
import re

regex1 = re.compile(r"[-!,]")
____wcRdd = wcRdd\
    .flatMap(lambda x: x[0].split())\
    .map(lambda x: regex1.sub("", x))\
    .map(lambda x: x.lower())\
    .filter(lambda x: not str(x).isdecimal())\
    .filter(lambda x: len(x) > 1)\
    .map(lambda x: (x, 1))\
    .reduceByKey(lambda x, y: x + y)\
    .filter(lambda x: x[1] > 1)\
    .map(lambda x: (x[1], x[0]))\
    .sortByKey(False)\
    .map(lambda x: (x[1], x[0]))

print(____wcRdd.collect())

[('yesterday', 3), ('to', 3), ('그림자가', 3), ('모든', 2), ('문제들이', 2), ('있는', 2), ('이제는', 2), ('oh', 2), ('suddenly', 2), ('갑자기', 2)]

## 문제 3: DataFrame을 사용해서 코로나 발생동향 분석
서울시 열린데이터에서 검색을 하면 '서울특별시 코로나19 자치구별 확진자 발생동향'이 있다.

https://data.seoul.go.kr/dataList/OA-20470/S/1/datasetView.do

데이터를 '내려받기'해서 '서울특별시\ 코로나19\ 자치구별\ 확진자\ 발생동향.json' 파일을 분석하세요.

1) 전체 건수 출력. null 값을 제외한 null 건수 출력 (null이 남아있는지 확인하기 위해)

In [52]:
!ls data/*.json

data/assignmentWeek3.json
data/ds_open_subwayTime.json
data/ds_twiiter_seoul_3.json
data/ds_twitter_seoul.json
data/서울특별시-코로나19-자치구별-확진자-발생동향.json

In [144]:
covidDf = spark.read.json("data/서울특별시-코로나19-자치구별-확진자-발생동향.json")

import pandas as pd

covidPd = covidDf.toPandas()
covidPd

,_corrupt_record,ddm,ddmadd,dobong,dobongadd,dongjak,dongjakadd,ep,epadd,etc,...,seongdongadd,songpa,songpaadd,work_dttm,yangcheon,yangcheonadd,ydp,ydpadd,yongsan,yongsanadd
0,{,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
1,"""DESCRIPTION"" : {""DOBONG"":""도봉구 전체"",""YANGCHEON""...",None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
2,"""DATA"" : [",None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
3,None,4272,24,2987,8,4654,16,4903,16,7981,...,6,7107,13,1.634984e+12,3688,9,5211,34,3076,12
4,None,4248,30,2979,11,4638,29,4887,21,7949,...,14,7094,24,1.634898e+12,3679,14,5177,32,3064,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,None,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
629,None,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
630,None,None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
631,],None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None
632,},None,None,None,None,None,None,None,None,None,...,None,None,None,NaN,None,None,None,None,None,None

값이 이상합니다. json으로 따로 읽어서 분석을 하고 DataFrame으로 다시 만듭니다.

In [73]:
covidData = ""
with open("data/서울특별시-코로나19-자치구별-확진자-발생동향.json", "r") as f:
    for line in f.readlines():
        covidData += line
    covidJson = json.loads(covidData)

covidJson.keys()

dict_keys(['DESCRIPTION', 'DATA'])

In [88]:
covidJson["DESCRIPTION"]

{'DOBONG': '도봉구 전체',
 'YANGCHEON': '양천구 전체',
 'ETCADD': '기타 추가',
 'SDM': '서대문구 전체',
 'DONGJAKADD': '동작구 추가',
 'SDMADD': '서대문구 추가',
 'SEONGDONG': '성동구 전체',
 'GANGSEOADD': '강서구 추가',
 'GANGBUK': '강북구 전체',
 'WORK_DTTM': '수집일',
 'GANGSEO': '강서구 전체',
 'DOBONGADD': '도봉구 추가',
 'MAPO': '마포구 전체',
 'GEUMCHEON': '금천구 전체',
 'YANGCHEONADD': '양천구 추가',
 'ETC': '기타 전체',
 'GANGDONGADD': '강동구 추가',
 'YDPADD': '영등포구 추가',
 'GEUMCHEONADD': '금천구 추가',
 'SEOCHOADD': '서추구 추가',
 'JONGNO': '종로구 전체',
 'SEOCHO': '서초구 전체',
 'DDM': '동대문구 전체',
 'EP': '은평구 전체',
 'SEONGDONGADD': '성동구 추가',
 'SONGPAADD': '송파구 추가',
 'GANGDONG': '강동구 전체',
 'YONGSAN': '용산구 전체',
 'GANGNAMADD': '강남구 추가',
 'GANGNAM': '강남구 전체',
 'SEONGBUKADD': '성북구 추가',
 'NOWONADD': '노원구 추가',
 'SEONGBUK': '성북구 전체',
 'GWANGJIN': '광진구 전체',
 'JUNGGUADD': '중구 추가',
 'GANGBUKADD': '강북구 추가',
 'JUNGGU': '중구 전체',
 'JUNGNANGADD': '중랑구 추가',
 'GWANAKADD': '관악구 추가',
 'SONGPA': '송파구 전체',
 'DONGJAK': '동작구 전체',
 'NOWON': '노원구 전체',
 'JCG_DT': '자치구 기준일',
 'YONGSANADD': '용산구 추가',
 'JONGNOADD': '종로구 추가',
 'GUROADD': '구로구 추가',
 'JUNGNANG': '중랑구 전체',
 'DDMADD': '동대문구 추가',
 'GWANGJINADD': '광진구 추가',
 'MAPOADD': '마포구 추가',
 'GURO': '구로구 전체',
 'YDP': '영등포구 전체',
 'GWANAK': '관악구 전체',
 'EPADD': '은평구 추가'}

In [89]:
covidJson["DATA"][:10]

[{'gangbukadd': '18',
  'etc': '7981',
  'gangnam': '7699',
  'songpa': '7107',
  'gwanakadd': '13',
  'gangseoadd': '31',
  'geumcheonadd': '40',
  'gangdong': '4494',
  'seongdongadd': '6',
  'sdm': '3081',
  'yangcheon': '3688',
  'gwangjinadd': '12',
  'seochoadd': '19',
  'dongjakadd': '16',
  'mapoadd': '15',
  'seocho': '4607',
  'junggu': '2004',
  'seongdong': '3179',
  'work_dttm': 1634983903000,
  'yongsan': '3076',
  'ydpadd': '34',
  'nowonadd': '26',
  'guro': '5460',
  'songpaadd': '13',
  'dongjak': '4654',
  'yongsanadd': '12',
  'gwangjin': '3916',
  'ddm': '4272',
  'yangcheonadd': '9',
  'ydp': '5211',
  'seongbuk': '4399',
  'seongbukadd': '27',
  'ddmadd': '24',
  'gangbuk': '3123',
  'gangseo': '5001',
  'sdmadd': '14',
  'geumcheon': '2608',
  'etcadd': '32',
  'epadd': '16',
  'gwanak': '5989',
  'guroadd': '55',
  'mapo': '4191',
  'dobongadd': '8',
  'dobong': '2987',
  'jungnangadd': '11',
  'gangdongadd': '37',
  'ep': '4903',
  'jungnang': '4273',
  'jongno': '2036',
  'gangnamadd': '36',
  'jungguadd': '14',
  'jcg_dt': '2021.10.23.00',
  'jongnoadd': '13',
  'nowon': '4503'},
 {'gangbukadd': '11',
  'etc': '7949',
  'gangnam': '7664',
  'songpa': '7094',
  'gwanakadd': '22',
  'gangseoadd': '21',
  'geumcheonadd': '14',
  'gangdong': '4457',
  'seongdongadd': '14',
  'sdm': '3067',
  'yangcheon': '3679',
  'gwangjinadd': '10',
  'seochoadd': '15',
  'dongjakadd': '29',
  'mapoadd': '12',
  'seocho': '4588',
  'junggu': '1989',
  'seongdong': '3173',
  'work_dttm': 1634897503000,
  'yongsan': '3064',
  'ydpadd': '32',
  'nowonadd': '23',
  'guro': '5405',
  'songpaadd': '24',
  'dongjak': '4638',
  'yongsanadd': '9',
  'gwangjin': '3904',
  'ddm': '4248',
  'yangcheonadd': '14',
  'ydp': '5177',
  'seongbuk': '4372',
  'seongbukadd': '21',
  'ddmadd': '30',
  'gangbuk': '3105',
  'gangseo': '4970',
  'sdmadd': '10',
  'geumcheon': '2568',
  'etcadd': '37',
  'epadd': '21',
  'gwanak': '5976',
  'guroadd': '36',
  'mapo': '4176',
  'dobongadd': '11',
  'dobong': '2979',
  'jungnangadd': '24',
  'gangdongadd': '26',
  'ep': '4887',
  'jungnang': '4262',
  'jongno': '2023',
  'gangnamadd': '32',
  'jungguadd': '6',
  'jcg_dt': '2021.10.22.00',
  'jongnoadd': '15',
  'nowon': '4477'},
 {'gangbukadd': '15',
  'etc': '7912',
  'gangnam': '7632',
  'songpa': '7070',
  'gwanakadd': '30',
  'gangseoadd': '14',
  'geumcheonadd': '14',
  'gangdong': '4431',
  'seongdongadd': '8',
  'sdm': '3057',
  'yangcheon': '3665',
  'gwangjinadd': '13',
  'seochoadd': '17',
  'dongjakadd': '28',
  'mapoadd': '7',
  'seocho': '4573',
  'junggu': '1983',
  'seongdong': '3159',
  'work_dttm': 1634811103000,
  'yongsan': '3055',
  'ydpadd': '34',
  'nowonadd': '27',
  'guro': '5369',
  'songpaadd': '23',
  'dongjak': '4609',
  'yongsanadd': '6',
  'gwangjin': '3894',
  'ddm': '4218',
  'yangcheonadd': '24',
  'ydp': '5145',
  'seongbuk': '4351',
  'seongbukadd': '21',
  'ddmadd': '22',
  'gangbuk': '3094',
  'gangseo': '4949',
  'sdmadd': '14',
  'geumcheon': '2554',
  'etcadd': '30',
  'epadd': '21',
  'gwanak': '5954',
  'guroadd': '42',
  'mapo': '4164',
  'dobongadd': '13',
  'dobong': '2968',
  'jungnangadd': '14',
  'gangdongadd': '13',
  'ep': '4866',
  'jungnang': '4238',
  'jongno': '2008',
  'gangnamadd': '22',
  'jungguadd': '15',
  'jcg_dt': '2021.10.21.00',
  'jongnoadd': '19',
  'nowon': '4454'},
 {'gangbukadd': '17',
  'etc': '7885',
  'gangnam': '7609',
  'songpa': '7047',
  'gwanakadd': '22',
  'gangseoadd': '18',
  'geumcheonadd': '14',
  'gangdong': '4418',
  'seongdongadd': '13',
  'sdm': '3043',
  'yangcheon': '3641',
  'gwangjinadd': '13',
  'seochoadd': '11',
  'dongjakadd': '24',
  'mapoadd': '23',
  'seocho': '4556',
  'junggu': '1968',
  'seongdong': '3151',
  'work_dttm': 1634724703000,
  'yongsan': '3049',
  'ydpadd': '39',
  'nowonadd': '22',
  'guro': '5328',
  'songpaadd': '19',
  'dongjak': '4581',
  'yongsanadd': '8',
  'gwangjin': '3881',
  'ddm': '4197',
  'yangcheonadd': '13',
  'ydp': '5111',
  'seongbuk': '4324',
  'seongbukadd': '17',
  'ddmadd': '20',
  'gangbuk': '3080',
  'gangseo': '4935',
  'sdmadd': '16',
  'geumcheon': '2540',
  'etcadd': '24',
  'epadd': '18',
  'gwanak': '5924',
  'guroadd': '60',
  'mapo': '4157',
  'dobongadd': '10',
  'dobong': '2955',
  'jungnangadd': '20',
  'gangdongadd': '21',
  'ep': '4845',
  'jungnang': '4224',
  'jongno': '1989',
  'gangnamadd': '20',
  'jungguadd': '9',
  'jcg_dt': '2021.10.20.00',
  'jongnoadd': '13',
  'nowon': '4428'},
 {'gangbukadd': '9',
  'etc': '7861',
  'gangnam': '7589',
  'songpa': '7028',
  'gwanakadd': '9',
  'gangseoadd': '16',
  'geumcheonadd': '14',
  'gangdong': '4397',
  'seongdongadd': '6',
  'sdm': '3027',
  'yangcheon': '3628',
  'gwangjinadd': '9',
  'seochoadd': '4',
  'dongjakadd': '22',
  'mapoadd': '7',
  'seocho': '4545',
  'junggu': '1959',
  'seongdong': '3138',
  'work_dttm': 1634638303000,
  'yongsan': '3041',
  'ydpadd': '10',
  'nowonadd': '18',
  'guro': '5268',
  'songpaadd': '13',
  'dongjak': '4557',
  'yongsanadd': '10',
  'gwangjin': '3868',
  'ddm': '4177',
  'yangcheonadd': '9',
  'ydp': '5072',
  'seongbuk': '4307',
  'seongbukadd': '13',
  'ddmadd': '12',
  'gangbuk': '3063',
  'gangseo': '4917',
  'sdmadd': '3',
  'geumcheon': '2526',
  'etcadd': '13',
  'epadd': '9',
  'gwanak': '5902',
  'guroadd': '24',
  'mapo': '4134',
  'dobongadd': '7',
  'dobong': '2945',
  'jungnangadd': '15',
  'gangdongadd': '16',
  'ep': '4827',
  'jungnang': '4204',
  'jongno': '1977',
  'gangnamadd': '19',
  'jungguadd': '2',
  'jcg_dt': '2021.10.19.00',
  'jongnoadd': '9',
  'nowon': '4406'},
 {'gangbukadd': '9',
  'etc': '7846',
  'gangnam': '7570',
  'songpa': '7015',
  'gwanakadd': '16',
  'gangseoadd': '13',
  'geumcheonadd': '18',
  'gangdong': '4381',
  'seongdongadd': '13',
  'sdm': '3024',
  'yangcheon': '3619',
  'gwangjinadd': '8',
  'seochoadd': '5',
  'dongjakadd': '12',
  'mapoadd': '6',
  'seocho': '4541',
  'junggu': '1960',
  'seongdong': '3132',
  'work_dttm': 1634551903000,
  'yongsan': '3031',
  'ydpadd': '23',
  'nowonadd': '10',
  'guro': '5244',
  'songpaadd': '14',
  'dongjak': '4535',
  'yongsanadd': '8',
  'gwangjin': '3859',
  'ddm': '4165',
  'yangcheonadd': '5',
  'ydp': '5062',
  'seongbuk': '4294',
  'seongbukadd': '25',
  'ddmadd': '10',
  'gangbuk': '3054',
  'gangseo': '4901',
  'sdmadd': '7',
  'geumcheon': '2512',
  'etcadd': '25',
  'epadd': '9',
  'gwanak': '5893',
  'guroadd': '39',
  'mapo': '4127',
  'dobongadd': '10',
  'dobong': '2938',
  'jungnangadd': '13',
  'gangdongadd': '20',
  'ep': '4818',
  'jungnang': '4189',
  'jongno': '1968',
  'gangnamadd': '20',
  'jungguadd': '4',
  'jcg_dt': '2021.10.18.00',
  'jongnoadd': '13',
  'nowon': '4387'},
 {'gangbukadd': '11',
  'etc': '7818',
  'gangnam': '7550',
  'songpa': '7001',
  'gwanakadd': '19',
  'gangseoadd': '22',
  'geumcheonadd': '17',
  'gangdong': '4361',
  'seongdongadd': '17',
  'sdm': '3017',
  'yangcheon': '3614',
  'gwangjinadd': '10',
  'seochoadd': '6',
  'dongjakadd': '21',
  'mapoadd': '9',
  'seocho': '4536',
  'junggu': '1956',
  'seongdong': '3119',
  'work_dttm': 1634465503000,
  'yongsan': '3023',
  'ydpadd': '32',
  'nowonadd': '18',
  'guro': '5205',
  'songpaadd': '18',
  'dongjak': '4523',
  'yongsanadd': '18',
  'gwangjin': '3851',
  'ddm': '4155',
  'yangcheonadd': '9',
  'ydp': '5039',
  'seongbuk': '4269',
  'seongbukadd': '20',
  'ddmadd': '18',
  'gangbuk': '3045',
  'gangseo': '4888',
  'sdmadd': '16',
  'geumcheon': '2494',
  'etcadd': '36',
  'epadd': '28',
  'gwanak': '5877',
  'guroadd': '54',
  'mapo': '4121',
  'dobongadd': '13',
  'dobong': '2928',
  'jungnangadd': '19',
  'gangdongadd': '29',
  'ep': '4809',
  'jungnang': '4176',
  'jongno': '1958',
  'gangnamadd': '29',
  'jungguadd': '8',
  'jcg_dt': '2021.10.17.00',
  'jongnoadd': '9',
  'nowon': '4377'},
 {'gangbukadd': '17',
  'etc': '7781',
  'gangnam': '7521',
  'songpa': '6983',
  'gwanakadd': '36',
  'gangseoadd': '11',
  'geumcheonadd': '23',
  'gangdong': '4332',
  'seongdongadd': '15',
  'sdm': '3001',
  'yangcheon': '3605',
  'gwangjinadd': '10',
  'seochoadd': '9',
  'dongjakadd': '22',
  'mapoadd': '10',
  'seocho': '4530',
  'junggu': '1949',
  'seongdong': '3102',
  'work_dttm': 1634379103000,
  'yongsan': '3006',
  'ydpadd': '36',
  'nowonadd': '22',
  'guro': '5151',
  'songpaadd': '31',
  'dongjak': '4502',
  'yongsanadd': '11',
  'gwangjin': '3841',
  'ddm': '4137',
  'yangcheonadd': '6',
  'ydp': '5007',
  'seongbuk': '4249',
  'seongbukadd': '31',
  'ddmadd': '20',
  'gangbuk': '3034',
  'gangseo': '4866',
  'sdmadd': '18',
  'geumcheon': '2477',
  'etcadd': '28',
  'epadd': '31',
  'gwanak': '5858',
  'guroadd': '76',
  'mapo': '4112',
  'dobongadd': '8',
  'dobong': '2915',
  'jungnangadd': '18',
  'gangdongadd': '29',
  'ep': '4781',
  'jungnang': '4157',
  'jongno': '1949',
  'gangnamadd': '36',
  'jungguadd': '11',
  'jcg_dt': '2021.10.16.00',
  'jongnoadd': '21',
  'nowon': '4359'},
 {'gangbukadd': '26',
  'etc': '7756',
  'gangnam': '7485',
  'songpa': '6952',
  'gwanakadd': '24',
  'gangseoadd': '15',
  'geumcheonadd': '33',
  'gangdong': '4303',
  'seongdongadd': '15',
  'sdm': '2983',
  'yangcheon': '3599',
  'gwangjinadd': '25',
  'seochoadd': '10',
  'dongjakadd': '20',
  'mapoadd': '20',
  'seocho': '4521',
  'junggu': '1938',
  'seongdong': '3087',
  'work_dttm': 1634292702000,
  'yongsan': '2995',
  'ydpadd': '31',
  'nowonadd': '22',
  'guro': '5075',
  'songpaadd': '29',
  'dongjak': '4480',
  'yongsanadd': '19',
  'gwangjin': '3832',
  'ddm': '4117',
  'yangcheonadd': '8',
  'ydp': '4971',
  'seongbuk': '4218',
  'seongbukadd': '30',
  'ddmadd': '44',
  'gangbuk': '3017',
  'gangseo': '4855',
  'sdmadd': '25',
  'geumcheon': '2454',
  'etcadd': '32',
  'epadd': '33',
  'gwanak': '5822',
  'guroadd': '84',
  'mapo': '4102',
  'dobongadd': '16',
  'dobong': '2907',
  'jungnangadd': '28',
  'gangdongadd': '26',
  'ep': '4750',
  'jungnang': '4139',
  'jongno': '1925',
  'gangnamadd': '33',
  'jungguadd': '8',
  'jcg_dt': '2021.10.15.00',
  'jongnoadd': '25',
  'nowon': '4337'},
 {'gangbukadd': '22',
  'etc': '7722',
  'gangnam': '7450',
  'songpa': '6923',
  'gwanakadd': '37',
  'gangseoadd': '19',
  'geumcheonadd': '38',
  'gangdong': '4277',
  'seongdongadd': '8',
  'sdm': '2960',
  'yangcheon': '3592',
  'gwangjinadd': '23',
  'seochoadd': '11',
  'dongjakadd': '26',
  'mapoadd': '22',
  'seocho': '4511',
  'junggu': '1930',
  'seongdong': '3072',
  'work_dttm': 1634206302000,
  'yongsan': '2976',
  'ydpadd': '53',
  'nowonadd': '38',
  'guro': '4991',
  'songpaadd': '35',
  'dongjak': '4460',
  'yongsanadd': '19',
  'gwangjin': '3807',
  'ddm': '4073',
  'yangcheonadd': '16',
  'ydp': '4940',
  'seongbuk': '4188',
  'seongbukadd': '27',
  'ddmadd': '30',
  'gangbuk': '2993',
  'gangseo': '4840',
  'sdmadd': '11',
  'geumcheon': '2421',
  'etcadd': '46',
  'epadd': '41',
  'gwanak': '5798',
  'guroadd': '73',
  'mapo': '4082',
  'dobongadd': '22',
  'dobong': '2891',
  'jungnangadd': '25',
  'gangdongadd': '35',
  'ep': '4717',
  'jungnang': '4111',
  'jongno': '1900',
  'gangnamadd': '42',
  'jungguadd': '8',
  'jcg_dt': '2021.10.14.00',
  'jongnoadd': '21',
  'nowon': '4315'}]

"DATA" 에 원하는 정보가 있으므로 이를 사용합니다.

위 정보들을 하나하나 Row로 변형하여 DataFrame으로 만듭니다.

In [175]:
from pyspark.sql import Row
import pyspark.sql.functions as F

covidRows = [Row(**x) for x in covidJson["DATA"]]

_covidDf = spark.createDataFrame(covidRows)
_covidDf.toPandas()

,gangbukadd,etc,gangnam,songpa,gwanakadd,gangseoadd,geumcheonadd,gangdong,seongdongadd,sdm,...,jungnangadd,gangdongadd,ep,jungnang,jongno,gangnamadd,jungguadd,jcg_dt,jongnoadd,nowon
0,18,7981,7699,7107,13,31,40,4494,6,3081,...,11,37,4903,4273,2036,36,14,2021.10.23.00,13,4503
1,11,7949,7664,7094,22,21,14,4457,14,3067,...,24,26,4887,4262,2023,32,6,2021.10.22.00,15,4477
2,15,7912,7632,7070,30,14,14,4431,8,3057,...,14,13,4866,4238,2008,22,15,2021.10.21.00,19,4454
3,17,7885,7609,7047,22,18,14,4418,13,3043,...,20,21,4845,4224,1989,20,9,2021.10.20.00,13,4428
4,9,7861,7589,7028,9,16,14,4397,6,3027,...,15,16,4827,4204,1977,19,2,2021.10.19.00,9,4406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,20,None,None
624,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,20,None,None
625,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,20,None,None
626,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,20,None,None
627,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,20,None,None

null 값을 제거하기전의 count는 아래와 같습니다.

In [176]:
_covidDf.select([F.count(F.col(c)).alias(c) for c in _covidDf.columns]).toPandas()

,gangbukadd,etc,gangnam,songpa,gwanakadd,gangseoadd,geumcheonadd,gangdong,seongdongadd,sdm,...,jungnangadd,gangdongadd,ep,jungnang,jongno,gangnamadd,jungguadd,jcg_dt,jongnoadd,nowon
0,605,605,605,605,605,605,605,605,605,605,...,605,605,605,605,605,605,605,628,605,605

 예쁘게 출력되는 것을 알 수 있습니다. 
 
 아래 None으로 null 값들이 존재함을 알 수 있고 해당 record들을 삭제해줍니다.

In [177]:
covidDfNullDrop = _covidDf.na.drop()
covidDfNullDrop.toPandas()

,gangbukadd,etc,gangnam,songpa,gwanakadd,gangseoadd,geumcheonadd,gangdong,seongdongadd,sdm,...,jungnangadd,gangdongadd,ep,jungnang,jongno,gangnamadd,jungguadd,jcg_dt,jongnoadd,nowon
0,18,7981,7699,7107,13,31,40,4494,6,3081,...,11,37,4903,4273,2036,36,14,2021.10.23.00,13,4503
1,11,7949,7664,7094,22,21,14,4457,14,3067,...,24,26,4887,4262,2023,32,6,2021.10.22.00,15,4477
2,15,7912,7632,7070,30,14,14,4431,8,3057,...,14,13,4866,4238,2008,22,15,2021.10.21.00,19,4454
3,17,7885,7609,7047,22,18,14,4418,13,3043,...,20,21,4845,4224,1989,20,9,2021.10.20.00,13,4428
4,9,7861,7589,7028,9,16,14,4397,6,3027,...,15,16,4827,4204,1977,19,2,2021.10.19.00,9,4406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,4,3958,2113,2257,7,4,0,1502,7,959,...,8,9,1799,1774,702,13,2,2021.05.10.00,0,1773
168,8,3954,2100,2250,3,5,5,1493,7,959,...,4,5,1788,1766,702,17,4,2021.05.09.00,3,1766
169,15,3946,2083,2242,4,11,3,1488,8,956,...,3,12,1780,1762,699,38,6,2021.05.08.00,1,1750
170,14,3933,2045,2229,11,3,4,1476,9,945,...,7,6,1765,1759,698,11,1,2021.05.07.00,0,1736
171,8,3923,2034,2216,8,7,4,1470,7,942,...,11,6,1750,1752,698,19,9,2021.05.06.00,2,1729

### 3-1 답

In [172]:
covidDfNullDrop.count()

172

2) (null제거하고) 종로, 마포, 용산, 합계 (종로, 마포, 용산) 10건 출력.

+------+----+-------+------+

|jongno|mapo|yongsan|   tot|

+------+----+-------+------+

|  1968|4127|   3031|9126.0|

In [191]:
from pyspark.sql.types import StructField, StructType
from pyspark.sql.types import IntegerType

col_3_1 = ["jongno", "mapo", "yongsan"]
covidDf3_1 = covidDfNullDrop.select(*col_3_1)
covidDf3_1 = covidDf3_1.withColumn("jongno", covidDf3_1["jongno"].cast("integer"))
covidDf3_1 = covidDf3_1.withColumn("mapo", covidDf3_1["mapo"].cast("integer"))
covidDf3_1 = covidDf3_1.withColumn("yongsan", covidDf3_1["yongsan"].cast("integer"))

covidDf3_1.printSchema()

covidDf3_1Pd = covidDf3_1.toPandas()

covidDf3_1Pd["total"] = covidDf3_1Pd.sum(axis=1)
covidDf3_1 = spark.createDataFrame(covidDf3_1Pd)
covidDf3_1.show()

root
 |-- jongno: integer (nullable = true)
 |-- mapo: integer (nullable = true)
 |-- yongsan: integer (nullable = true)

+------+----+-------+-----+
|jongno|mapo|yongsan|total|
+------+----+-------+-----+
|  2036|4191|   3076| 9303|
|  2023|4176|   3064| 9263|
|  2008|4164|   3055| 9227|
|  1989|4157|   3049| 9195|
|  1977|4134|   3041| 9152|
|  1968|4127|   3031| 9126|
|  1958|4121|   3023| 9102|
|  1949|4112|   3006| 9067|
|  1925|4102|   2995| 9022|
|  1900|4082|   2976| 8958|
|  1879|4060|   2957| 8896|
|  1865|4035|   2938| 8838|
|  1853|4023|   2916| 8792|
|  1842|4012|   2906| 8760|
|  1831|3994|   2878| 8703|
|  1816|3969|   2853| 8638|
|  1785|3935|   2840| 8560|
|  1760|3911|   2825| 8496|
|  1745|3889|   2814| 8448|
|  1733|3869|   2805| 8407|
+------+----+-------+-----+
only showing top 20 rows

3) (null제거하고) 종로구의 2020년 3월 데이터 출력.

+-------------+------+

|       jcg_dt|jongno|

+-------------+------+

|2020.03.31.10|    13|

In [214]:
covidDfNullDrop.where(F.col("jcg_dt").substr(1, 4) == "2021").select("jcg_dt", "jongno").show()

+-------------+------+
|       jcg_dt|jongno|
+-------------+------+
|2021.10.23.00|  2036|
|2021.10.22.00|  2023|
|2021.10.21.00|  2008|
|2021.10.20.00|  1989|
|2021.10.19.00|  1977|
|2021.10.18.00|  1968|
|2021.10.17.00|  1958|
|2021.10.16.00|  1949|
|2021.10.15.00|  1925|
|2021.10.14.00|  1900|
|2021.10.13.00|  1879|
|2021.10.12.00|  1865|
|2021.10.11.00|  1853|
|2021.10.10.00|  1842|
|2021.10.09.00|  1831|
|2021.10.08.00|  1816|
|2021.10.07.00|  1785|
|2021.10.06.00|  1760|
|2021.10.05.00|  1745|
|2021.10.04.00|  1733|
+-------------+------+
only showing top 20 rows

4) (null제거하고) 년 x 월별 합계 10건 출력.

+-----+-------+-------+

|month|   2020|   2021|

+-----+-------+-------+

|   07| 1273.0|62849.0|

못했습니다..